.btn-soccer-primary{
    background-color:#146853 !important;
    font-size: 13px;
  color: #fff;
  letter-spacing: 1px;
  background: transparent;
  transition: all 0.3s ease 0s;
  line-height: 15px;
  border-radius: 40px;
  
}

.btn-soccer-dark{
    background-color:#000 !important;
    font-size: 13px;
  color: #fff;
  letter-spacing: 1px;
  background: transparent;
  transition: all 0.3s ease 0s;
  line-height: 15px;
  border-radius: 40px;
  
}



.btn-soccer-secondary{
    background-color:grey !important;
    font-size: 13px;
  color: #fff;
  letter-spacing: 1px;
  line-height: 15px;
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-green{
    background-color: green !important;
    color: #fff;
    font-size: 13px;
    letter-spacing: 1px;
    background: transparent;
    transition: all 0.3s ease 0s;
}

.btn-red{
    background-color: red !important;
    color:#fff;
    font-size: 13px;
    letter-spacing: 1px;
    background: transparent;
    transition: all 0.3s ease 0s;
}

.btn-grey{
    background-color: grey !important;
    color: #fff;
    letter-spacing: 1px;
    background: transparent;
    transition: all 0.3s ease 0s;
}

    .btn-circle {
        width: 30px;
        height: 30px;
        padding: 6px 0px;
        border-radius: 15px;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
    }
    

.btn-soccer-yellow{
    background-color:rgb(255, 166, 0) !important;
    font-size: 13px;
  color: #fff;
  letter-spacing: 1px;
  line-height: 15px;
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}


.light-mode-border{
    border-bottom: solid 1px #146853 !important;
}

.dark-mode-border {
    border-bottom: solid 1px #3b3f3e !important;
}