.btn-soccer-primary {
  background-color: #146853 !important;
  font-size: 13px;
  color: rgb(255, 208, 0);
  letter-spacing: 1px;
  background: transparent;
  transition: all 0.3s ease 0s;
  line-height: 16px;
  height: 32px;
  border-radius: 40px;
  font-size: 13px !important;
  font-weight: bold !important;
  width: 100%;
  left: 5px;
  right: 5px;
  text-align: left !important;

}

.round-style-picker {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border: solid 1px black;
  padding: 5px;
  height: 32px;
  width: 200px;
  border: none;
}

.btn-soccer-dark-primary {
  background-color: #000 !important;
  font-size: 13px;
  color: rgb(255, 208, 0);
  letter-spacing: 1px;
  background: transparent;
  transition: all 0.3s ease 0s;
  line-height: 16px;
  height: 32px;
  border-radius: 40px;
  font-size: 13px !important;
  font-weight: bold !important;
  width: 100%;
  left: 5px;
  right: 5px;
  text-align: left !important;

}

.btn-soccer-dark-outline-primary {
  color: #07241d !important;
  font-size: 13px;
  background-color: #949796 !important;
  letter-spacing: 1px;
  background: transparent;
  transition: all 0.3s ease 0s;
  line-height: 16px;
  height: 32px;
  border-radius: 40px;
  font-size: 13px !important;
  font-weight: bold !important;
  width: 100%;
  left: 5px;
  right: 5px;
  text-align: left !important;

}

.btn-soccer-primary-2-right {
  background-color: #146853 !important;
  font-size: 13px;
  color: rgb(255, 208, 0);
  letter-spacing: 1px;
  line-height: 15px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  ;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.light {
  background-color: #d4ece5 !important;
  color: #07241d !important;
}

.dark {
  background-color: #949796 !important;
  color: #000 !important;

}

.btn-soccer-outline-primary {
  color: #07241d !important;
  font-size: 13px;
  background-color: #d4ece5 !important;
  letter-spacing: 1px;
  background: transparent;
  transition: all 0.3s ease 0s;
  line-height: 16px;
  height: 32px;
  border-radius: 40px;
  font-size: 13px !important;
  font-weight: bold !important;
  width: 100%;
  left: 5px;
  right: 5px;
  text-align: left !important;

}



.btn-soccer-danger {
  background-color: red !important;
  font-size: 13px;
  color: #fff;
  letter-spacing: 1px;
  background: transparent;
  transition: all 0.3s ease 0s;
  line-height: 16px;
  height: 32px;
  border-radius: 40px;
  width: 100%;
  left: 10px;
  right: 10px;
  text-align: left !important;
}



.btn-soccer-secondary {
  background-color: grey !important;
  font-size: 13px;
  color: #fff;
  letter-spacing: 1px;
  line-height: 15px;
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-green {
  background-color: green !important;
  color: #fff;
  font-size: 13px;
  letter-spacing: 1px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-red {
  background-color: red !important;
  color: #fff;
  font-size: 13px;
  letter-spacing: 1px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-grey {
  background-color: grey !important;
  color: #fff;
  letter-spacing: 1px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}


.btn-soccer-yellow {
  background-color: rgb(255, 166, 0) !important;
  font-size: 13px;
  color: #fff;
  letter-spacing: 1px;
  line-height: 15px;
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.right-5 {
  margin-right: 5px;
}

.right-10 {
  margin-right: 10px;
}

.top-5 {
  margin-top: 5px;
}

.top-10 {
  margin-top: 10px !important;
}

.top-20 {
  margin-top: 20px !important;
}

.bottom-5 {
  margin-bottom: 5px;
}

.bottom-10 {
  margin-bottom: 10px;
}

.btn-soccer-dark-primary-right {
  background-color: #000 !important;
  font-size: 13px;
  color: rgb(255, 208, 0);
  letter-spacing: 1px;
  transition: all 0.3s ease 0s;
  line-height: 16px;
  height: 32px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  ;
  font-size: 10px !important;
  font-weight: bold !important;
  width: 100%;
  right: 5px;
  text-align: left !important;
  background-color: #000 !important;

}
